<!-- <p>employee-form works!</p>

<div class="flex flex-column align-items-center justify-content-center">
    <form #empForm="ngForm" (ngSubmit)="empForm.valid && onSubmit()" class="formcontainer">
        <h1>Registration</h1><br>

        <label class="form-label" htmlFor="Identifire">IDENTIFIRE:</label>
        <div class="row">
            <div class="col">
                <input type="text" pInputText name="identifire" placeholder="Identifire" class="form-control form_input" [(ngModel)]="employeeArray.identifire"/>
            </div>
        </div>

        <label class="form-label" htmlFor="tvd1">TVD:</label>
        <div class="row">
            <div class="col">
                <input type="text" pInputText  name="tvd1" placeholder="Tvd " class="form-control form_input" [(ngModel)]="employeeArray.tvd1"/>
            </div>
        </div> 

        <label class="form-label" htmlFor="ahd">AHD:</label>
        <div class="row">
            <div class="col">
                <input type="text" name="ahd" [(ngModel)]="employeeArray.ahd" class="form-control form_input" placeholder="ahd" />
            </div>
        </div>
        
        <label class="form-label" htmlFor="tvd2">TVD:</label>
        <div class="row">
            <div class="col">
                <input type="text" pInputText name="tvd2" placeholder="Enter tvd" class="form-control form_input" [(ngModel)]="employeeArray.tvd2" />
            </div>
        </div>  
        
        <label class="form-label" htmlFor="easting">EASTING:</label>
        <div class="row">
            <div class="col">
                <input type="text" pInputText name="easting" placeholder="Enter easting" class="form-control form_input" [(ngModel)]="employeeArray.easting" />
            </div>
        </div> 

        <label class="form-label" htmlFor="northing">NORTHING:</label>
        <div class="row">
            <div class="col">
                <input type="text" pInputText name="northing" placeholder="Enter northing" class="form-control form_input" [(ngModel)]="employeeArray.northing" />
            </div>
        </div> 
        
        <label class="form-label" htmlFor="interval">INTERVAL:</label>
        <div class="row">
            <div class="col">
                <input type="number" inputId="integeronly"  [(ngModel)]="employeeArray.interval" class="form-control form_input" name="interval" placeholder="Enter interval"/>
            </div>
        </div>

        <label class="form-label" htmlFor="comments">COMMENTS:</label>
        <div class="row">
            <div class="col">
                <input type="text" pInputText name="comments" placeholder="Enter comments" class="form-control form_input" [(ngModel)]="employeeArray.comments" />
            </div>
        </div> 

        <div class="btn_container flex justify-content-center">
            <button type="submit" pButton pRipple label="Submit" class="p-button-secondary form_button"></button>
        </div>
    </form>
</div> -->
